################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeamworkMusicPlayer/bin/Debug/netcoreapp3.1/Test.MP3
